<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.celcom.mycelcom" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:isSplitRequired="true" android:label="@string/app_name" android:largeHeap="true" android:name="com.celcom.mycelcom.MainApplication" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/app_name" android:name="com.celcom.mycelcom.MainActivity" android:screenOrientation="portrait" android:theme="@style/SplashTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
            <intent-filter android:label="Celcom Life">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="mycelcom"/>
            </intent-filter>
            <intent-filter android:label="Celcom Life">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="lifeapp"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <service android:exported="false" android:name="com.metricell.mcc.api.MccService">
            <meta-data android:name="app_operator" android:value="100053"/>
            <meta-data android:name="operator_mcc" android:value="502"/>
            <meta-data android:name="operator_mnc" android:value="13"/>
            <meta-data android:name="app_type" android:value="celcomaptus"/>
            <meta-data android:name="operator_name" android:value="CCOMMY-APTUS"/>
            <meta-data android:name="operator_code" android:value="CCOMMY-APTUS"/>
            <meta-data android:name="base_url" android:value="celcommy-mcccollect.mycoveragechecker.com"/>
            <meta-data android:name="perform_silent_registration" android:value="true"/>
            <meta-data android:name="silent_registration_requires_msisdn" android:value="false"/>
            <meta-data android:name="enable_incognito_mode" android:value="false"/>
            <meta-data android:name="send_data_over_wifi_only" android:value="false"/>
            <meta-data android:name="monitor_app_data_usage" android:value="true"/>
            <meta-data android:name="collect_auto_alerts" android:value="true"/>
            <meta-data android:name="collect_call_events" android:value="false"/>
            <meta-data android:name="enable_roaming_monitor" android:value="false"/>
            <meta-data android:name="enable_sms_monitor" android:value="false"/>
            <meta-data android:name="enable_data_session_monitor" android:value="false"/>
            <meta-data android:name="sleep_at_night" android:value="true"/>
            <meta-data android:name="sleep_on_low_battery" android:value="true"/>
            <meta-data android:name="pii_data" android:value="msisdn_only"/>
            <meta-data android:name="data_sim_collection_only" android:value="true"/>
            <meta-data android:name="allow_competitor_sim" android:value="true"/>
        </service>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
        <provider android:authorities="com.celcom.mycelcom.rnshare.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="cl.json.RNShareFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/share_download_paths"/>
        </provider>
        <activity android:name="com.adobe.marketing.mobile.FullscreenMessageActivity"/>
        <receiver android:name="com.adobe.marketing.mobile.LocalNotificationHandler"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <provider android:authorities="com.celcom.mycelcom.reactnativefirebasecrashlyticsinitprovider" android:exported="false" android:initOrder="98" android:name="io.invertase.firebase.crashlytics.ReactNativeFirebaseCrashlyticsInitProvider"/>
        <service android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingHeadlessService"/>
        <service android:exported="false" android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="true"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value=""/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/white"/>
        <activity android:name="com.boostorium.boostsdk.view.BoostWebInterface" android:theme="@style/LightTheme" android:windowSoftInputMode="adjustResize"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.learnium.RNDeviceInfo.RNDeviceReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.masteratul.exceptionhandler.DefaultErrorScreen"/>
        <provider android:authorities="com.celcom.mycelcom.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.vinzscam.reactnativefileviewer.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_viewer_provider_paths"/>
        </provider>
        <activity android:name="com.proyecto26.inappbrowser.ChromeTabsManagerActivity"/>
        <provider android:authorities="com.celcom.mycelcom.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.reactnativecommunity.webview.RNCWebViewFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <meta-data android:name="App-ID" android:value="1013"/>
        <meta-data android:name="Group-ID" android:value="akufrvoxueyfvour"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:exported="true" android:name="com.madme.mobile.sdk.activity.profile.ChangeProfileActivity" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.celcom.mycelcom" android:path="/profile" android:scheme="madme"/>
            </intent-filter>
        </activity>
        <activity android:autoRemoveFromRecents="true" android:name="com.madme.mobile.sdk.activity.AdActivity" android:screenOrientation="portrait" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAdTheme"/>
        <activity android:autoRemoveFromRecents="true" android:name="com.madme.mobile.sdk.activity.OverlayAdActivity" android:screenOrientation="@integer/madme_orientation_8_0" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAdThemeOverlay"/>
        <activity android:autoRemoveFromRecents="true" android:name="com.madme.mobile.sdk.activity.SurveyActivity" android:screenOrientation="portrait" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeSurveyTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:autoRemoveFromRecents="true" android:name="com.madme.mobile.sdk.activity.BrowserActivity" android:screenOrientation="portrait" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme"/>
        <activity android:name="com.madme.mobile.sdk.activity.SavedAdActivity" android:screenOrientation="portrait" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAdTheme"/>
        <activity android:exported="true" android:name="com.madme.mobile.sdk.activity.MyOffersHistoryActivity" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.celcom.mycelcom" android:path="/gallery" android:scheme="madme"/>
            </intent-filter>
        </activity>
        <activity android:enabled="@bool/madme_enable_ad_list" android:name="com.madme.mobile.sdk.activity.AdListActivity" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeNoActionBarThemeLight"/>
        <activity android:name="com.madme.mobile.sdk.activity.WebViewActivity" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme"/>
        <activity android:excludeFromRecents="true" android:label="@string/madme_menu_tcs" android:name="com.madme.mobile.sdk.activity.TermsActivity" android:noHistory="true" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeDialogTheme"/>
        <activity android:label="@string/madme_menu_tcs" android:name="com.madme.mobile.sdk.activity.LegalInformationActivityResources" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme"/>
        <activity android:label="@string/madme_menu_benefits" android:name="com.madme.mobile.sdk.activity.BenefitsActivity" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme"/>
        <activity android:enabled="@bool/madme_debug_screen" android:excludeFromRecents="true" android:label="@string/madme_menu_debug" android:launchMode="singleTask" android:name="com.madme.mobile.sdk.activity.MadmeDebugActivity" android:screenOrientation="portrait" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeAppTheme"/>
        <activity android:alwaysRetainTaskState="false" android:autoRemoveFromRecents="true" android:launchMode="singleTask" android:name="com.madme.mobile.sdk.activity.MadmePermissionActivity" android:screenOrientation="@integer/madme_orientation_8_0" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmePermissionActivity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.madme.mobile.sdk.activity.ThankYouActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity="@string/madme_task_affinity" android:theme="@style/MadmeThankYouTheme"/>
        <service android:name="com.madme.mobile.sdk.service.LoginService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.DownloadService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.DbUpdateService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.AdAlarmHelperService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.location.GeofenceService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.ad.ShowAdService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.TrackingService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.AdTriggerEventsService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_enable_sbs" android:name="com.madme.mobile.sdk.service.SBSTService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_enable_cicl" android:name="com.madme.mobile.features.calllog.CallLogTrackingService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.service.TrackingSubmissionService"/>
        <service android:enabled="@bool/madme_o" android:name="com.madme.mobile.sdk.service.TrackingSubmissionJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.service.SurveySubmissionService"/>
        <service android:enabled="@bool/madme_o" android:name="com.madme.mobile.sdk.service.SurveySubmissionJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.service.CdnCampaignService"/>
        <service android:enabled="@bool/madme_o" android:name="com.madme.mobile.sdk.service.CdnCampaignJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.CampaignHelperService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.madme.mobile.sdk.service.AdReminderHelperService"/>
        <receiver android:exported="true" android:name="com.madme.mobile.sdk.broadcast.AdReminderReceiver">
            <intent-filter>
                <action android:name="com.celcom.mycelcom.madme.ACTION_AD_REMINDER"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.adtriggers.PowerConnectionAdTrigger">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.adtriggers.AirplaneModeChangedAdTrigger">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.adtriggers.WiFiAdTrigger">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.adtriggers.WiFiAvailableTrigger">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.adtriggers.RoamingAdTrigger">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.PackageRemovalReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.MadmeSmsTrigger">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/madme_pre_o" android:name="com.madme.mobile.sdk.broadcast.UnlockReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.madme.mobile.sdk.broadcast.EOCTrigger">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.madme.mobile.sdk.broadcast.DailyTaskReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.madme.mobile.sdk.broadcast.BootReceiver">
            <intent-filter android:priority="@integer/madme_boot_receiver_priority">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.madme.mobile.sdk.broadcast.AdAlarmReceiver">
            <intent-filter>
                <action android:name="com.celcom.mycelcom.madme.ACTION_AD_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.madme.mobile.sdk.broadcast.GeofenceReceiver"/>
        <receiver android:exported="false" android:name="com.madme.mobile.sdk.broadcast.NotificationActionReceiver">
            <intent-filter>
                <action android:name="com.celcom.mycelcom.madme.ACTION_NOTIFICATION_CLICK"/>
                <action android:name="com.celcom.mycelcom.madme.ACTION_NOTIFICATION_REMOVAL"/>
                <action android:name="com.celcom.mycelcom.madme.ACTION_INTERMEDIATE_NOTIFICATION_CLICK"/>
                <action android:name="com.celcom.mycelcom.madme.ACTION_INTERMEDIATE_NOTIFICATION_REMOVAL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.madme.mobile.sdk.broadcast.IdSnsReceiver">
            <intent-filter>
                <action android:name="com.madme.idsns.U3"/>
                <action android:name="com.madme.idsns.U4"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.celcom.mycelcom.madme.init" android:exported="false" android:initOrder="9999" android:name="com.madme.mobile.sdk.MadmeInitProvider"/>
        <provider android:authorities="com.celcom.mycelcom.madme.files" android:exported="false" android:grantUriPermissions="true" android:name="com.madme.mobile.sdk.provider.MadmeFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/madme_file_paths"/>
        </provider>
        <provider android:authorities="com.celcom.mycelcom.madme.idsns" android:exported="true" android:name="com.madme.mobile.sdk.provider.IdSnsProvider"/>
        <service android:exported="false" android:name="com.madme.mobile.sdk.service.cloudmessaging.CloudMessagingRegistrationService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_pre_o" android:exported="false" android:name="com.madme.mobile.sdk.service.LSService"/>
        <service android:enabled="@bool/madme_o" android:exported="false" android:name="com.madme.mobile.sdk.service.LSJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="@bool/madme_o" android:exported="false" android:name="com.madme.mobile.sdk.service.LSJobService2" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="true" android:exported="false" android:name="com.madme.mobile.sdk.service.MFAService"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microblink.activity.DocumentScanActivity" android:screenOrientation="nosensor"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microblink.activity.BarcodeScanActivity" android:screenOrientation="nosensor"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microblink.activity.FieldByFieldScanActivity" android:screenOrientation="nosensor"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microblink.activity.DocumentVerificationActivity" android:screenOrientation="nosensor"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microblink.activity.BlinkCardActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microblink.activity.BlinkIdActivity" android:screenOrientation="sensor"/>
        <provider android:authorities="com.celcom.mycelcom.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.celcom.mycelcom" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:enabled="false" android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.FederatedSignInActivity" android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.celcom.mycelcom.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.celcom.mycelcom.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <provider android:authorities="com.celcom.mycelcom.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.celcom.mycelcom.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <provider android:authorities="com.celcom.mycelcom.workmanager-init" android:directBootAware="false" android:exported="false" android:multiprocess="true" android:name="androidx.work.impl.WorkManagerInitializer"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>